* {
	margin: 0;
	padding: 0;
}


.header {
    display: inline-block;
    margin-top: 50px;
    /* margin-left: -20px; */
    margin-bottom: 40px;
}

img {
    width: 75%;
    /* height: 200px; */
}

.ref {
    display: inline-block;
    /* margin-left: 0px; */
    margin-top: 50px;
    /* width: 50%; */
}

.ref h2 {
    text-align: right;
    font-weight: bold;
    padding-bottom: 10px;
}

.ref table {
    margin-left: 330px;
}

th.green {
    color: #82b541;
    font-weight: normal;
    padding-top: 10px;
    padding-right: 28px;
}

th.right {
    text-align: right;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
}

#data {
    margin-left: 100px;
    margin-top: 55px;
}

#data h4 {
    color: #82b541;
    font-weight: bold;
}

#data hr {
    border: 1px #82b541 solid;
    width: 550px;
}

#calculate {
    margin-left: 100px;
    margin-top: 90px;
}

#calculate th {
    border-bottom: 2px #82b541 solid;
    padding-bottom: 8px;
}

#title p {
    margin-top: -30px;
}

td.shades {
    background-color: #f2f2f2;
}

td#shades {
    padding-left: 35px;
}

h4#item {
    padding-right: 200px;
}

h4.itemdata {
    margin-left: -5px;
}

td.highlight {
    background-color: #82b541;
    color: white;
}

#notes h4 {
    margin-left: 100px;
    margin-top: 100px;
    border-bottom: 2px #82b541 solid;
    padding-bottom: 14PX;
}

#notes p {
    height: 200px;
}

@media (min-width: 992px)
.col-md-6 {
    img {
    	width: 40%;
    }
    .ref {
    	width: 40%;
    }
}